.Board__square {
  padding: 20px;
  border-color: black;
  border-style: solid;
  border-width: 0;
}

@media (min-width: 768px) {
  .Board__square {
    padding: 50px;
  }
}

.margin-top-20 {
  margin-top: 20px;
}
